body{
    background-image: url("/CRUD/images/nicenigth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
}

.card-columns {
    /*column-count: 4;*/
    display: flex;
    flex-wrap: wrap;
}

